/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lato&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --heading-font: "Imperial Script", cursive;
  --primary-color: #99ceff;
  --primary-alt-color: #bde0fe;
  --secondary-color: #ffafcc;
  --secondary-alt-color: #ffc8dd;
  --alt-color: #cdb4db;
}

body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
}

nav,
footer {
  background-color: var(--primary-alt-color);
}

nav {
  box-shadow: 0 2px 4px #3a3a3a;
}

footer {
  box-shadow: 0 -2px 4px #3a3a3a;
}

.btn-signup {
  background-color: var(--secondary-color);
}

.btn-signup:hover {
  background-color: none;
  border: 1px solid var(--secondary-color);

}

#social-icons i {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--secondary-color);
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0rem 0.4rem;
}


/* Media Queries*/

/* X-small screen sizes - up to 380px*/
@media screen and (max-width: 380px) {

  footer address,
  footer p {
    font-size: 0.9rem;
  }
}