/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lato&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lato", sans-serif;
    --heading-font: "Imperial Script", cursive;
    --primary-color: #99ceff; 
    --primary-alt-color: #bde0fe;
    --secondary-color: #ffafcc;
    --secondary-alt-color: #ffc8dd;
    --alt-color: #cdb4db;
}

body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
}

nav,
footer {
    background-color: var(--primary-alt-color);
}

nav {
  box-shadow: 0 2px 4px #3a3a3a;
}

footer {
  box-shadow: 0 -2px 4px #3a3a3a;
}

#social-icons i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #007bff;   /* circle color */
  color: white;          /* icon color */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
}