/* CSS Variables */
:root {
  --body-font: "Source Sans 3", sans-serif;
  --heading-font: "Playfair Display", serif;

  --primary-color: #69776e;
  --secondary-color: #c9c1a6;

  --alt-color: #DEE2E6;

  --highlight-color: #FED8A6;
  --primary-text-color: #FFF9F5;

  --body-text-color: #101720;
}


/* Cake Builder Page */
.selections {
  border: 0.125rem solid var(--alt-color);
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.selections:hover {
  border: 0.125rem solid var(--primary-color);
}

/* .selections p {
  border: 1px solid blue;
} */

.selections img {
  width: 150px;
  height: 67px;
  /* border: 1px solid red; */
  margin-top: 1rem;
}

/* Medium screen sizes - 768px up*/
@media screen and (min-width: 768px) {
  .selections img {
    width: 90px;
    height: 40px;
  }
}

/* Large screen sizes - 992px up*/
@media screen and (min-width: 992px) {
  .selections img {
    width: 165px;
    height: 74px;
  }
}



body {
  font-family: var(--body-font);
  color: var(--body-text-color);
}

h1,
h2 {
  font-family: var(--heading-font);
}

nav {
  background-color: var(--primary-color);
}

#nav-top {
  min-height: 70px;
}

.nav-link {
  font-family: var(--heading-font);
  font-size: 20px;
  color: var(--primary-text-color);
  position: relative;
}

.nav-link:hover {
  color: var(--highlight-color);
}

.navbar-nav .nav-link.active {
  color: var(--highlight-color);
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 60%;
  height: 2px;
  background-color: var(--highlight-color);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-item:hover .nav-link::after,
.navbar-nav .nav-link.active::after {
  transform: translateX(-50%) scaleX(1);
}





.logo {
  height: 40px;
}


.btn-signup {
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  border: 2px outset black;
}

.btn-signup:hover {
  background-color: none;
  border: 2px outset black;
  color: var(--secondary-color);
}

.slot-btn {
  margin: 1rem 0.5rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.8rem;
  background-color: var(--primary-alt-color);
}

.slot-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.slot-btn.selected {
  background-color: var(--secondary-color);

}

.modal-btn {
  border: ridge 2px var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--primary-alt-color);
}


#social-icons i {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--secondary-color);
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0rem 0.4rem;
}


/* Media Queries*/

/* X-small screen sizes - up to 380px*/
@media screen and (max-width: 380px) {

  footer address,
  footer p {
    font-size: 0.9rem;
  }
}