/* CSS Variables */

:root {
  --body-font: "Source Sans 3", sans-serif;
  --heading-font: "Playfair Display", serif;

  --primary-color: #69776e;
  --secondary-color: #c9c1a6;

  --alt-color: #DEE2E6;

  --highlight-color: #FED8A6;
  --primary-text-color: #FFF9F5;

  --body-text-color: #101720;
}

/* General CSS */

body {
  font-family: var(--body-font);
  color: var(--body-text-color);
}

h1,
h2 {
  font-family: var(--heading-font);
}

/* Navbar */

nav {
  background-color: var(--primary-color);
}

#nav-top {
  min-height: 4.5rem;
}

.nav-link {
  font-family: var(--heading-font);
  font-size: 20px;
  color: var(--primary-text-color);
  position: relative;
}

.nav-link:hover {
  color: var(--highlight-color);
}

.navbar-nav .nav-link.active {
  color: var(--highlight-color);
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 60%;
  height: 2px;
  background-color: var(--highlight-color);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-item:hover .nav-link::after,
.navbar-nav .nav-link.active::after {
  transform: translateX(-50%) scaleX(1);
}

.logo {
  height: 4.5rem;
}

/* Cake Config Modal */

fieldset {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}

legend {
  float: none;
  padding: 0px 0.25rem;
  width: fit-content;
}

#cake-form input[type="radio"] {
  accent-color: var(--primary-color);

}

/* Media Queries*/

/* Medium screen sizes - 768px up*/

@media screen and (min-width: 768px) {
  #field-size {
    padding-bottom: 2rem;
  }
}

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {
  #field-size {
    padding-bottom: 0.5rem;
  }
}