nav {
    background-color: pink;
}

footer {
    background-color: pink;
}

#social-icons i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #007bff;   /* circle color */
  color: white;          /* icon color */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
}