{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cake-modal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal animate__animated animate__rotateIn" id="cake-modal" tabindex="-1" aria-labelledby="cake-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-3" id="cake-modalLabel">Cake Configurator</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="cake-form" class="container" action="">
                    <div class="row justify-content-evenly align-items-center">

                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2 " id="field-shape">
                            <legend>Shape</legend>
                            <input type="radio" name="shape" id="shape-square" value="square">
                            <label for="shape-square">Square</label><br>
                            <input type="radio" name="shape" id="shape-round" value="round" checked>
                            <label for="shape-round">Round</label><br>
                            <input type="radio" name="shape" id="shape-rectangle" value="rectangle">
                            <label for="shape-rectangle">Rectangle</label>
                        </fieldset>

                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2 " id="field-tier">
                            <legend>Tiers</legend>
                            <input type="radio" name="tier" id="tier-one" value="one" checked>
                            <label for="tier-one">One</label><br>
                            <input type="radio" name="tier" id="tier-two" value="two">
                            <label for="tier-two">Two</label><br>
                            <input type="radio" name="tier" id="tier-three" value="three">
                            <label for="tier-three">Three</label>
                        </fieldset>

                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2 " id="field-size">
                            <legend>Base Size</legend>
                            <input type="radio" name="size" id="size-small" value="small">
                            <label for="size-small">Small Ø15cm</label><br>
                            <input type="radio" name="size" id="size-medium" value="medium" checked>
                            <label for="size-medium">Medium Ø20cm</label><br>
                            <input type="radio" name="size" id="size-large" value="large">
                            <label for="size-large">Large Ø25cm</label>
                        </fieldset>

                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2 " id="field-sponge">
                            <legend>Sponge</legend>
                            <input type="radio" name="sponge" id="sponge-vanilla" value="vanilla" checked>
                            <label for="sponge-vanilla">Vanilla</label><br>
                            <input type="radio" name="sponge" id="sponge-chocolate" value="chocolate">
                            <label for="sponge-chocolate">Chocolate</label><br>
                            <input type="radio" name="sponge" id="sponge-redvelvet" value="redvelvet">
                            <label for="sponge-redvelvet">Red Velvet</label><br>
                            <input type="radio" name="sponge" id="sponge-carrot" value="carrot">
                            <label for="sponge-carrot">Carrot</label>
                        </fieldset>

                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2 " id="field-filling">
                            <legend>Filling</legend>
                            <input type="radio" name="filling" id="filling-caramel" value="caramel-treat">
                            <label for="filling-caramel">Caramel Treat</label><br>
                            <input type="radio" name="filling" id="filling-strawberry-jam" value="strawberry-jam">
                            <label for="filling-strawberry-jam">Strawberry Jam</label><br>
                            <input type="radio" name="filling" id="filling-buttercream" value="buttercream" checked>
                            <label for="filling-buttercream">Buttercream</label><br>
                            <input type="radio" name="filling" id="filling-ganache" value="ganache">
                            <label for="filling-ganache">Ganache</label>
                        </fieldset>
                        
                        <fieldset class="col-8 col-md-5 col-lg-3 mx-2" id="field-icing">
                            <legend>Icing Flavour</legend>
                            <input type="radio" name="icing" id="icing-vanilla" value="vanilla">
                            <label for="icing-vanilla">Vanilla</label><br>
                            <input type="radio" name="icing" id="icing-chocolate" value="chocolate">
                            <label for="icing-chocolate">Chocolate</label><br>
                            <input type="radio" name="icing" id="icing-cream-cheese" value="cream-cheese" checked>
                            <label for="icing-cream-cheese">Cream Cheese</label><br>
                            <input type="radio" name="icing" id="icing-ganache" value="ganache">
                            <label for="icing-ganache">Ganache</label>
                        </fieldset>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





{% endblock content %}

{% block extras %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}