{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Welcome to our Cake Builder App</h1>
            <button class="btn btn-signup" data-bs-target="#cakeModalStep1" data-bs-toggle="modal">Let's get
                Started!</button>
        </div>
    </div>
</div>



<!-- Modal Step 1 Shape -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep1" aria-hidden="true"
    aria-labelledby="cakeModalStep1ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 text-center" id="cakeModalStep1ToggleLabel">Build My Cake</h1>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Shape (Step 1/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep2" data-bs-toggle="modal" data-shape="square">Square</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep2" data-bs-toggle="modal" data-shape="rectangle">Rectangle</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep2" data-bs-toggle="modal" data-shape="round">Round</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 2 Size -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep2" aria-hidden="true"
    aria-labelledby="cakeModalStep2ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalStep2ToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Size (Step 2/6)
            </div>
            <div class="container">
                <div class="row row-cols-2 mb-3 justify-content-evenly">
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep3" data-bs-toggle="modal" data-size="small"></button>
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep3" data-bs-toggle="modal" data-size="large"></button>                    
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 3 Tiers-->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep3" aria-hidden="true"
    aria-labelledby="cakeModalStep3ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalStep3ToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Tiers (Step 3/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep4" data-bs-toggle="modal" data-tier="1">One</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep4" data-bs-toggle="modal" data-tier="2">Two</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep4" data-bs-toggle="modal" data-tier="3">Three</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 4 Sponge -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep4" aria-hidden="true"
    aria-labelledby="cakeModalStep4ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalStep4ToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Sponge (Step 4/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep5" data-bs-toggle="modal" data-sponge="vanilla">Vanilla</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep5" data-bs-toggle="modal" data-sponge="chocolate">Chocolate</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep5" data-bs-toggle="modal" data-sponge="coffee">Coffee</button>                    
                </div>
                <div class="row row-cols-2 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep5" data-bs-toggle="modal" data-sponge="carrot">Carrot</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep5" data-bs-toggle="modal" data-sponge="lemon">Lemon</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 5 Icing -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep5" aria-hidden="true"
    aria-labelledby="cakeModalStep5ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalStep5ToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Icing (Step 5/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal" data-icing="buttercream">Buttercream</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal" data-icing="ganache">Ganache</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal" data-icing="fondant">Fondant</button>                    
                </div>
                <div class="row row-cols-2 mb-3 justify-content-evenly">
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal" data-icing="royal-icing">Royal Icing</button>
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal" data-icing="cream-cheese">Cream Cheese</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 6 Decorations -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep6" aria-hidden="true"
    aria-labelledby="cakeModalStep6ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalStep6ToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Define your Decorations (Step 6/6)
            </div>
            <div class="ms-3">
                <label for="message">Write a personal message on the cake:</label>
                <br>
                <input type="text" id="message" class="mb-2">
                <br>
                <label for="theme">What theme should the cake be?</label>
                <br>
                <input type="text" id="theme" class="mb-2">
                <br>
                <label for="colours">What should the main colours be?</label>
                <br>
                <input type="text" id="colours" class="mb-3">
            </div>
            <div class="modal-footer">
                <button class="btn btn-signup" data-bs-target="#cakeModalQuote" data-bs-toggle="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quote -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalQuote" aria-hidden="true"
    aria-labelledby="cakeModalQuoteToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalQuoteToggleLabel">Build My Cake</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quote for your cake:
            </div>
            <div class="container">
                <div class="">
                    <form method="post">
                        {{ my_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn-signup" data-bs-target="#cakeModalDate" data-bs-toggle="modal">Accept Quote</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal Delivery Date -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalDate" aria-hidden="true"
    aria-labelledby="cakeModalDateToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="cakeModalDateToggleLabel">Delivery Date</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label for="delivery-date" class="ms-2">Select a Date:</label>
                <input type="text" id="delivery-date">
                <div id="time-slots"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-signup" data-bs-target="" data-bs-toggle="modal">Place Order</button>
            </div>
        </div>
    </div>
</div>



{% else %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <h3>Login Required</h3>
            <p class="lead">In order to use our awesome Cake Builder App<br>
                you need to first <a href="{% url 'account_login' %}">Login</a>
            </p>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}

{% block extras %}
<script src="{% static 'js/cakebuilder.js' %}"></script>
{% endblock %}