{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Welcome to our Cake Builder App</h1>
            <button class="btn btn-signup" data-bs-target="#cakeModalShape" data-bs-toggle="modal">Let's get
                Started!</button>
        </div>
    </div>
</div>



<!-- Modal Step 1 Shape -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalShape" aria-hidden="true"
    aria-labelledby="cakeModalShapeToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content text-center">
            <div class="modal-header mx-auto">
                <h2 class="modal-title" id="cakeModalShapeToggleLabel">Choose your Shape</h2>
            </div>
            <div class="modal-body">
                <p>Step 1</p>
                <div class="container">
                    <div class="row justify-content-evenly">
                        <div class="col-10 col-sm-7 col-md-3 selections justify-content-center"
                            data-bs-target="#cakeModalSize" data-bs-toggle="modal" data-shape="square">
                            <img src="{% static 'images/square.webp' %}" alt="Shape of a square">
                            <p>Square</p>
                        </div>
                        <div class="col-10 col-sm-7 col-md-3 selections" data-bs-target="#cakeModalSize"
                            data-bs-toggle="modal" data-shape="rectangle">
                            <img src="{% static 'images/rectangle.webp' %}" alt="Shape of a rectangle">
                            <p>Rectangle</p>
                        </div>
                        <div class="col-10 col-sm-7 col-md-3 selections" data-bs-target="#cakeModalSize"
                            data-bs-toggle="modal" data-shape="round">
                            <img src="{% static 'images/round.webp' %}" alt="Shape of cylinder">
                            <p>Round</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Step 2 Size -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalSize" aria-hidden="true"
    aria-labelledby="cakeModalSizeToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content text-center">
            <div class="modal-header mx-auto">
                <h2 class="modal-title" id="cakeModalSizeToggleLabel">Choose your Size</h2>
            </div>
            <div class="modal-body">
                <p>Step 1</p>
                <div class="container">
                    <div class="row justify-content-evenly">
                        <div class="col-10 col-sm-7 col-md-3 selections justify-content-center"
                            data-bs-target="#cakeModalSize" data-bs-toggle="modal" data-size="small">
                            <img src="{% static 'images/square-s.webp' %}" alt="Size of a square">
                            <p>Small 15cm</p>
                        </div>
                        <div class="col-10 col-sm-7 col-md-3 selections" data-bs-target="#cakeModalSize"
                            data-bs-toggle="modal" data-size="medium">
                            <img src="{% static 'images/square-m.webp' %}" alt="Size of a rectangle">
                            <p>Medium 20cm</p>
                        </div>
                        <div class="col-10 col-sm-7 col-md-3 selections" data-bs-target="#cakeModalSize"
                            data-bs-toggle="modal" data-size="large">
                            <img src="{% static 'images/square-l.webp' %}" alt="Size of cylinder">
                            <p>Large 25cm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 3 Tiers-->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalTiers" aria-hidden="true"
    aria-labelledby="cakeModalTiersToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalTiersToggleLabel">Build My Cake</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Tiers (Step 3/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalSponge" data-bs-toggle="modal"
                        data-tier="1">One</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalSponge" data-bs-toggle="modal"
                        data-tier="2">Two</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalSponge" data-bs-toggle="modal"
                        data-tier="3">Three</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 4 Sponge -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalSponge" aria-hidden="true"
    aria-labelledby="cakeModalSpongeToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalSpongeToggleLabel">Build My Cake</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Sponge (Step 4/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalIcing" data-bs-toggle="modal"
                        data-sponge="vanilla">Vanilla</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalIcing" data-bs-toggle="modal"
                        data-sponge="chocolate">Chocolate</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalIcing" data-bs-toggle="modal"
                        data-sponge="coffee">Coffee</button>
                </div>
                <div class="row row-cols-2 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalIcing" data-bs-toggle="modal"
                        data-sponge="carrot">Carrot</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalIcing" data-bs-toggle="modal"
                        data-sponge="lemon">Lemon</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 5 Icing -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalIcing" aria-hidden="true"
    aria-labelledby="cakeModalIcingToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalIcingToggleLabel">Build My Cake</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose your Icing (Step 5/6)
            </div>
            <div class="container">
                <div class="row row-cols-3 mb-3 justify-content-evenly">
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal"
                        data-icing="buttercream">Buttercream</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal"
                        data-icing="ganache">Ganache</button>
                    <button class="col-3 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal"
                        data-icing="fondant">Fondant</button>
                </div>
                <div class="row row-cols-2 mb-3 justify-content-evenly">
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal"
                        data-icing="royal-icing">Royal Icing</button>
                    <button class="col-4 modal-btn" data-bs-target="#cakeModalStep6" data-bs-toggle="modal"
                        data-icing="cream-cheese">Cream Cheese</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Step 6 Decorations -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalStep6" aria-hidden="true"
    aria-labelledby="cakeModalStep6ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalStep6ToggleLabel">Build My Cake</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Define your Decorations (Step 6/6)
            </div>
            <div class="ms-3">
                <label for="message">Write a personal message on the cake:</label>
                <br>
                <input type="text" id="message" class="mb-2">
                <br>
                <label for="theme">What theme should the cake be?</label>
                <br>
                <input type="text" id="theme" class="mb-2">
                <br>
                <label for="colours">What should the main colours be?</label>
                <br>
                <input type="text" id="colours" class="mb-3">
            </div>
            <div class="modal-footer">
                <button class="btn btn-signup" data-bs-target="#cakeModalQuote" data-bs-toggle="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quote -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalQuote" aria-hidden="true"
    aria-labelledby="cakeModalQuoteToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalQuoteToggleLabel">Build My Cake</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quote for your cake:
            </div>
            <div class="container">
                <div class="">
                    <form method="post">
                        {{ my_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn-signup" data-bs-target="#cakeModalDate"
                            data-bs-toggle="modal">Accept Quote</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal Delivery Date -->
<div class="modal animate__animated animate__slideInLeft" id="cakeModalDate" aria-hidden="true"
    aria-labelledby="cakeModalDateToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " id="cakeModalDateToggleLabel">Delivery Date</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label for="delivery-date" class="ms-2">Select a Date:</label>
                <input type="text" id="delivery-date">
                <div id="time-slots"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-signup" data-bs-target="" data-bs-toggle="modal">Place Order</button>
            </div>
        </div>
    </div>
</div>





{% endblock content %}

{% block extras %}
<script src="{% static 'js/cakebuilder.js' %}"></script>
{% endblock %}